@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Maven+Pro:wght@400;500;700&family=UnifrakturMaguntia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
 font-family: 'Josefin Sans', sans-serif; 
 
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


  :root {
    --primary-color: #da9b68;
    --gradient: linear-gradient( #da9b68, white);

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
}

body {
    background-color:#f3f3f3 ;
    font-family: 'Nunito', sans-serif;
    position: relative;
}



h1 {
  font-size: 35px;
  text-align: center;
  align-items: center;
  color: var(--primary-color);
  padding: 20px;
}

.tel {
  text-align: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 8vh;
 }
 
 
 
 .logo { 
     font-family: 'Yeseva One', cursive;
    font-size: 64px;
     color: white;   
 }
 
 
 a h4 {
     color: white;
     font-family: 'Coiny', cursive;
 }
 
 
 .navbar {
     display: flex;
 }
 
 .navbar li {
     position: relative;
 }
 
 .navbar a {
     font-size: 1.2rem;
     padding: 20px 40px;
     color: white;
     font-weight: 700;
     text-transform: uppercase;
 }
 
 .navbar a::after {
     content: "";
     width: 0;
     height: 3px;
     background: var(--gradient);
     position: absolute;
     bottom: -10px;
     left: 0;
     transition: 0.5s;
 }
 
 .navbar a:hover::after {
     width: 100%;
 }

 .buchen {
  visibility: hidden;
 }

 
 #menu-icon {
     font-size: 24px;
     cursor: pointer;
     z-index: 10001;
     display: none;  
 }

 .btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: var(--height, 45px);
  padding-inline: var(--padding-inline, 35px);
  transition: var(--transition-1);
  text-transform: uppercase;
}

.btn2 {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: var(--height, 45px);
  padding-inline: var(--padding-inline, 35px);
  transition: var(--transition-1);
  text-transform: uppercase;
  border: none;
  width: 100%;
}

.btn-hover {
position: relative;
overflow: hidden;
z-index: 1;
}

.btn2-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
  }
  

.btn-hover::after {
content: "";
position: absolute;
bottom: -1px;
left: 20px;
width: 3px;
height: 1px;
transform: translate(-50%, 51%) scale(var(--scale, 1));
border-radius: 50%;
background-color: orange;
z-index: -1;
transition: var(--transition-2);
}
.btn2-hover::after {
content: "";
position: absolute;
bottom: -1px;
left: 20px;
width: 1px;
height: 1px;
transform: translate(-50%, 51%) scale(var(--scale, 1));
border-radius: 50%;
background-color: orange;
z-index: -1;
transition: var(--transition-2);
}



.btn-hover:is(:hover, :focus)::after { --scale: 500; }

.btn2-hover:is(:hover, :focus)::after { --scale: 500; }
 
h1 {
  padding-top: 2em;
}

  form {
    margin: 10px auto;
    margin-top: 7rem;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    max-width: 500px;
  }
  
  h2 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  

  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #da9b68;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

  .flatpickr-time .numInputWrapper {
    width: 50px;
}

.flatpickr-time .numInputWrapper:nth-child(3),
.flatpickr-time .numInputWrapper:nth-child(4) {
    display: none;
}


  .footer {
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
    width: 100%;
    bottom: -400px;
    right: 0;
    z-index: 1000;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    
    
    
    
    
}

.container {
  max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:var(--primary-color); 
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .social-links i {
  margin-top: 10px;
}

ul {
    list-style: none;
}


    

@media (max-width: 1950px) {

  .logo { 
    font-family: 'Yeseva One', cursive;
   font-size: 30px;
   margin-top: 0.5rem;
    color: white;   
}

  .navbar a {
        font-size: 0.8rem;
        padding: 20px 30px;
        color: white;
        font-weight: 500; 
    }

form {
  margin-top: 1rem;
}

.footer {   
  bottom: -380px;
}
}


@media (max-width: 1640px) {
  .navbar a {
        padding-left: 20px; 
        padding: 10px 20px;
    }


}
@media (max-width: 1440px) {
  .footer {
    bottom: -450px;
  }
}

@media (max-width: 1300px) {
    .navbar a {
        font-size: 0.7rem;
        padding: 10px 15px;
    }

}

@media (max-width: 1110px) {


  .header-btn .sign-in {
    padding: 7px 3px;
    font-size: 2rem;
}

}

@media (max-width: 910px) {

  .navbar {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    width: 70%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1000;
    
     }

     .navbar a {
        float: none;
        padding-left: 0px;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: bold;
      
       
    }

     .navbar li {
         opacity: 0;
         padding-bottom: 26px;
     }

     .buchen {
      visibility: visible;
     }

     
     
     #menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 8%;
        top: 35%;
        color: white;
    }

    .logo {
      display: block;
   margin-left: auto;
   margin-right: auto;
     font-size: 40px;
  }

  .btn {
    visibility: hidden;
  }

   
     header {
         height: 60px;
         width: 100%;
         top: 0;
         right: 0;
         z-index: 1000;
         display: flex;
         position: fixed;
         align-items: center;
         justify-content: space-between;
         background: black;
         color: white;
         padding: 0.938em 3.75em; 
        }
        

  .nav-active {
      transform: translateX(0%);
  }

 .see-container {
     display: none;
 }


 h1 {
 margin-top: 7rem;
}

 form {
  margin-top: 5rem;
}

.footer {
  position: absolute;
  bottom: -620px;
  width: 100%;
 }
 .footer-col {
  width: 50%;
  margin-bottom: 30px;
 
 }


@keyframes navLinkFade {
from{
   opacity: 0;
   transform: translateX(50px);
}
to{
   opacity: 1;
   transform: translateX(0px);
}
}

}




      @media screen and (max-width: 780px) {
  
        .navbar {
          position: fixed;
          right: 0px;
          height: 92vh;
          top: 8vh;
          display: flex;
          flex-direction: column;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          line-height: 30px;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          z-index: 1000;
          
           }
      
           .navbar li {
               opacity: 0;
           }
           
         
      
            .warning {
   margin-top: 4rem;
  }

           
           header {
      
               height: 60px;
               width: 100%;
               top: 0;
               right: 0;
               z-index: 1000;
               display: flex;
               align-items: center;
               justify-content: space-between;
               background: black;
               color: white;
               padding: 15px 60px; 
              }
      
               
          .logo {
            font-size: 30px;
        }

        h1 {
          padding-top: 0.5em;
        }
        
      
      
        .footer {
          position: absolute;
          bottom: -700px;
          width: 100%;
         }
      
               .nav-active {
                transform: translateX(0%);
            }
            
        
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
      
      }

      @media (max-width: 480px)  {
        .logo {
          font-size: 22px;
       }

       h1 {
        font-size: 25px;
        font-weight: 800;
       }

       .tel {
        font-size: 12px;
       }
      }
    
      @media (max-width: 400px) {
    
        .logo {
          font-size: 15px;
        }
      }
    
     
          @media (max-width: 360px)  {
            .logo {
              font-size: 15px;
           }
          }
          @media (max-width: 350px)  {
            .logo {
              font-size: 12px;
           }
          }

     





 

