@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Maven+Pro:wght@400;500;700&family=UnifrakturMaguntia&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif; 
}

body {
  background-color: darkblue;
}

:root {
  --primary-color: #da9b68;
  --gradient: linear-gradient( #da9b68, white);
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 8vh;
 }
 
 
 
 .logo { 
     font-family: 'Yeseva One', cursive;
    font-size: 64px;
     color: white;   
 }
 
 
 a h4 {
     color: white;
     font-family: 'Coiny', cursive;
 }
 
 
 .navbar {
     display: flex;
 }
 
 .navbar li {
     position: relative;
 }
 
 .navbar a {
     font-size: 1.6rem;
     padding: 20px 40px;
     color: white;
     font-weight: 700;
     text-transform: uppercase;
 }
 
 .navbar a::after {
     content: "";
     width: 0;
     height: 3px;
     background: var(--gradient);
     position: absolute;
     bottom: 10px;
     left: 0;
     transition: 0.5s;
 }
 
 .navbar a:hover::after {
     width: 100%;
 }
 
 #menu-icon {
     font-size: 24px;
     cursor: pointer;
     z-index: 10001;
     display: none;  
 }
 
  .buchen {
    visibility: hidden;
   }
  

 .btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: var(--height, 45px);
  padding-inline: var(--padding-inline, 35px);
  transition: var(--transition-1);
  text-transform: uppercase;
}
.btn2 {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: var(--height, 45px);
  padding-inline: var(--padding-inline, 35px);
  transition: var(--transition-1);
  text-transform: uppercase;
}

.btn-hover {
position: relative;
overflow: hidden;
z-index: 1;
}
.btn2-hover {
position: relative;
overflow: hidden;
z-index: 1;
}

.btn-hover::after {
content: "";
position: absolute;
bottom: -1px;
left: 20px;
width: 1px;
height: 1px;
transform: translate(-50%, 51%) scale(var(--scale, 1));
border-radius: 50%;
background-color: orange;
z-index: -1;
transition: var(--transition-2);
}
.btn2-hover::after {
content: "";
position: absolute;
bottom: -1px;
left: 20px;
width: 1px;
height: 1px;
transform: translate(-50%, 51%) scale(var(--scale, 1));
border-radius: 50%;
background-color: orange;
z-index: -1;
transition: var(--transition-2);
}

.btn-hover:is(:hover, :focus)::after { --scale: 500; }

.btn2-hover:is(:hover, :focus)::after { --scale: 500; }
 
 
 
.heading {
  text-align: center;
  padding-top: 1em;
}

.heading span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 4rem;
}

.heading h2 {
  font-size: 2rem;
  color: black;
}


.menu-container, .menu-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px,auto));
  grid-gap: 6.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  position: relative;
  margin-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fbf7f4;
  padding: 20px;
  border-radius: 0.5rem;
}

.box-img {
  width: 220px;
  height: 220px;
}

.box-img img {
  width: 100%;
  height: 100%;
}

.box h2 {
  font-size: 1.3rem;
  color: black;
}

.box h3 {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin: 4px 0 10px;
}

.box span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.3rem;
}







:root {

/**
 * colors
 */

--rich-black-fogra-29: hsl(210, 26%, 7%);
--champagne-pink_20: hsla(23, 61%, 86%, 0.2);
--independence_30: hsla(245, 17%, 29%, 0.3);
--gray-x-11-gray: hsl(0, 0%, 73%);
--champagne-pink: hsl(23, 61%, 86%);
--spanish-gray: hsl(0, 0%, 60%);
--sonic-silver: hsl(0, 0%, 47%);
--deep-saffron: hsl(32, 100%, 59%);
--dark-orange: hsl(28, 100%, 58%);
--desert-sand: hsl(23, 49%, 82%);
--isabelline: hsl(38, 44%, 96%);
--gainsboro: hsl(0, 0%, 87%);
--tangerine: hsl(31, 84%, 50%);
--cinnabar: hsl(3, 90%, 55%);
--black_95: hsla(0, 0%, 0%, 0.95);
--cultured: hsl(0, 0%, 93%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--onyx: hsl(0, 0%, 27%);


--ff-shadows-into-light: 'Shadows Into Light', cursive;
--ff-roboto: 'Roboto', sans-serif;
--ff-rubik: 'Rubik', sans-serif;

--fs-1: 3.2rem;
--fs-2: 2.2rem;
--fs-3: 1.8rem;
--fs-4: 1.4rem;
--fs-5: 1.2rem;

--fw-500: 500;
--fw-600: 600;
--fw-700: 700;



--section-padding: 60px;


--shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
--shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);



--transition-1: 0.25s ease;
--transition-2: 0.5s ease;



--clip-path-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
--clip-path-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);

}


*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

li { list-style: none; }

a {
text-decoration: none;
color: inherit;
}

a,
img,
svg,
span,
input,
select,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

input,
select,
button,
textarea {
background: none;
border: none;
font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
font-family: var(--ff-roboto);
font-size: 10px;
scroll-behavior: smooth;
}

body {
background-color: var(--white);
color: var(--sonic-silver);
font-size: 1.6rem;
line-height: 1.6;
overflow-x: hidden;
}

body.active { overflow: hidden; }

:focus-visible { outline-offset: 4px; }

::selection {
background-color: var(--deep-saffron);
color: var(--white);
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--cultured); }

::-webkit-scrollbar-thumb { background-color: var(--deep-saffron); }

::-webkit-scrollbar-thumb:hover { background-color: var(--tangerine); }


.container { padding-inline: 15px; }

.h1,
.h2,
.h3,
.h4 {
font-family: var(--ff-rubik);
color: var(--rich-black-fogra-29);
line-height: 1.2;
letter-spacing: -1px;
}

.h1,
.h2 { font-size: var(--fs-1); }

.h2,
.h3,
.h4 { font-weight: var(--fw-600); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-3); }



.section { padding-block: var(--section-padding); }

.section.white { background-color: var(--isabelline); }

.section-divider { position: relative; }

.section-divider::before,
.section-divider::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 15px;
background-repeat: repeat no-repeat;
background-position: bottom;
}

.section-divider.white::after { background-image: url("../images/shape-white.png"); }

.section-divider.gray::after { background-image: url("../images/shape-grey.png"); }

.w-100 { width: 100%; }

.has-scrollbar {
display: flex;
gap: 10px;
overflow-x: auto;
scroll-snap-type: inline mandatory;
padding-block-end: 40px;
}

.has-scrollbar::-webkit-scrollbar { height: 12px; }

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }

.has-scrollbar::-webkit-scrollbar-track {
outline: 2px solid var(--deep-saffron);
border-radius: 50px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
border: 3px solid var(--cultured);
border-radius: 50px;
}

.section-title > .span {
display: inline-block;
color: var(--primary-color);
}

.abs-img {
position: absolute;
transform: scale(1);
padding-right:6em;
}

.scale-up-anim { animation: scaleUp 1s linear infinite alternate; }

@keyframes scaleUp {
0% { transform: scale(1);}
100% { transform: scale(1.05); }
}

.section-subtitle {
color: var(--cinnabar);
font-family: var(--ff-rubik);
text-align: center;
font-weight: var(--fw-500);
}

.badge {
position: absolute;
background: var(--bg-color, var(--cinnabar));
color: var(--white);
font-size: var(--fs-5);
font-weight: var(--fw-600);
padding: var(--padding-block, 2px) 15px;
}

.rating-wrapper {
display: flex;
gap: 5px;
color: var(--deep-saffron);
}


.about { text-align: center; }

.about-banner {
position: relative;
aspect-ratio: 1 / 0.9;
}

.about-img {
max-width: max-content;
margin-inline: auto;
border-radius: 10px;
}

.about-banner .abs-img {
top: 0;
left: 100px;
}

.about .section-title {
max-width: 15ch;
margin-block: 40px 10px;
margin-inline: auto;
}

.about-list { margin-block: 20px 30px; }

.about-item {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.about-item:not(:last-child) { margin-block-end: 10px; }

.about-item ion-icon {
background-color: var(--deep-saffron);
color: var(--white);
font-size: 1.2rem;
padding: 4px;
border-radius: 50%;
--ionicon-stroke-width: 110px;
}

.about-item .span {
color: var(--rich-black-fogra-29);
font-family: var(--ff-rubik);
font-weight: var(--fw-500);
}

.about .btn { margin-inline: auto; }



.banner { color: var(--white); }

.banner-list {
display: grid;
gap: 10px;
}

.banner-lg { height: 430px; }

.banner-sm { height: 200px; }

.banner-md { height: 240px; }

.banner-card {
position: relative;
height: 100%;
box-shadow: var(--shadow-2);
overflow: hidden;
}

.banner-card .banner-img {
background-color: var(--gainsboro);
width: 100%;
height: 100%;
object-fit: cover;
transform: scale(1);
transition: var(--transition-2);
}

.banner-card:is(:hover, :focus-within) .banner-img { transform: scale(1.05); }

.banner-item-content {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 20px;
right: 20px;
max-height: calc(100% - 30px);
}

.banner-md .banner-item-content { left: 50%; }

.banner-subtitle,
.banner-title {
font-family: var(--ff-rubik);
font-weight: var(--fw-600);
line-height: 1.2;
letter-spacing: -0.5px;
}

.banner-lg .banner-subtitle {
font-size: var(--fs-2);
margin-block-end: 10px;
}

.banner-lg .banner-title {
font-size: var(--fs-1);
max-width: 16ch;
}

:is(.banner-md, .banner-sm) .banner-title {
font-size: var(--fs-2);
max-width: 10ch;
}

.banner-card .banner-text { margin-block: 10px 15px; }

.banner-card .btn {
--bg-color: var(--dark-orange);
--height: 40px;
--padding-inline: 25px;
}

.banner-card .btn:is(:hover, :focus) { background-color: var(--rich-black-fogra-29); }

.container {
max-width: 1170px;
margin: auto;
}

.row {
display: flex;
flex-wrap: wrap;
}

.footer {
 background-color: #24262b; 
padding: 70px 0;
line-height: 1.5; 
}
.footer-col {
width: 25%;
padding: 0 15px;
}

.footer-col h4 {
font-size: 18px;
color:#ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}

.footer-col h4::before {
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color:var(--primary-color); 
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child) {
margin-bottom: 10px;
}

.footer-col ul li a {
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover {
color: #ffffff;
padding-left: 8px;
}

.footer-col .social-links a {
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links i {
margin-top: 10px;
}

.footer-col .social-links a:hover {
color: #24262b;
background-color: #ffffff;
}

ul {
list-style: none;
}


@media (max-width: 1920px)  {

  .logo { 
      font-family: 'Yeseva One', cursive;
     font-size: 48px;
     margin-top: 0.5rem;
      color: white;   
  }
  
    .navbar a {
        font-size: 1.3rem;
        padding: 20px 30px;
        color: white;
        font-weight: 500; 
    }

  .menu-container, .menu-container2 {
    grid-template-columns: repeat(auto-fit, minmax(500px,auto));
    grid-gap: 5.0rem;
  }

}

@media (max-width: 1640px) {


  
   .navbar a {
        padding-left: 20px; 
        padding: 10px 20px;
    }
    
  .menu-container, .menu-container2 {
    grid-template-columns: repeat(auto-fit, minmax(400px,auto));
    grid-gap: 4.0rem;
  }

  
}
@media (max-width: 1280px) {


  .menu-container, .menu-container2 {
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    grid-gap: 3.0rem;
  }

  
}

@media (max-width: 1300px) {
    .navbar a {
        font-size: 1.1rem;
        padding: 10px 15px;
    }

}



@media (max-width: 1110px) {


  .menu-container, .menu-container2 {
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-gap: 2.0rem;
  }


}
   
   @media (max-width: 900px) {

      .navbar {
          position: fixed;
          right: 0px;
          height: 92vh;
          top: 8vh;
          background-color: black;
          display: flex;
          width: 70%;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          line-height: 90px;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          z-index: 1000;
           }
  
            .navbar a {
                    float: none;
                    padding-left: 0px;
                    letter-spacing: 3px;
                    font-size: 14px;
                    font-weight: bold; 
                }
            
          
        


           .navbar li  {
              opacity: 0;
              padding-bottom: 26px;
    
           }

  
           
           #menu-icon {
              display: block;
              cursor: pointer;
              position: absolute;
              left: 8%;
              top: 2.7%;
              color: white;
          }
          
            .buchen {
                    visibility: visible;
                   }


          .logo {
              display: block;
           margin-left: auto;
           margin-right: auto;
             font-size: 40px;
          }

          .btn {
            visibility: hidden;
          }

          .footer {
            position: absolute;
            width: 100%;
           }
           .footer-col {
            width: 50%;
            margin-bottom: 30px;
           }
      
      }


      @media (max-width: 780px)  {
     
      
        .home {
          padding-top: 7em;
      }
  
       .navbar {
      position: fixed;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1000;
      
       }
  
       .navbar li {
           opacity: 0;
       }
       
  
  
       
       header {
  
           height: 60px;
           width: 100%;
           top: 0;
           right: 0;
           z-index: 1000;
           display: flex;
           align-items: center;
           justify-content: space-between;
           background: black;
           color: white;
           padding: 15px 60px; 
          }
          
          .logo {
            font-size: 30px;
        }
        
        .btn2 {
          margin-left: auto;
          margin-right: auto;
        }

     
      

        .about-content {
          position: relative;
        }
  
          }
          .nav-active {
              transform: translateX(0%);
          }
  
  @keyframes navLinkFade {
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to{
          opacity: 1;
          transform: translateX(0px);
      }
  }

  @media (max-width: 480px)  {
    .logo {
      font-size: 22px;
   }
  }

  @media (max-width: 400px) {

    .logo {
      font-size: 15px;
    }
  }

 
      @media (max-width: 360px)  {
        .logo {
          font-size: 15px;
       }
      }
      @media (max-width: 350px)  {
        .logo {
          font-size: 12px;
       }
      }

      @media (min-width: 550px) {
         
        .container {
          max-width: 550px;
          width: 100%;
          margin-inline: auto;
        }
      }
      
        .has-scrollbar > li { min-width: calc(50% - 5px); }
      
     
      
      @media (min-width: 768px) {
      
        .container { max-width: 720px; }
    
        .about .container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
        }
      
        .about { text-align: left; }
      
        .about .section-title { margin-block-start: 0; }
      
        .about :is(.section-title, .btn) { margin-inline: 0; }
      
        .about-item { justify-content: flex-start; }
      
        .banner-list { grid-template-columns: repeat(4, 1fr); }
    
      .banner-lg {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    
      .banner-md {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        height: 220px;
      }
    }
       
      
      @media (min-width: 992px) {
    
        :root {
      
          --section-padding: 120px;
      
        }
      
      
        .container { max-width: 960px; }
      
        .has-scrollbar > li { min-width: calc(33.33% - 6.66px); }
      
        .h2 { --fs-1: 4.2rem; }
      
      }
    
      .banner-lg .banner-title {
        --fs-1: 3.6rem;
        letter-spacing: -2px;
      }
    
      :is(.banner-md, .banner-sm) .banner-title,
      .banner-lg .banner-subtitle { --fs-2: 3.2rem; }
    
    
      
      
    
      
      @media (min-width: 1200px) {
      
        .container { max-width: 1200px; }
      
      
        .about .container { gap: 60px; }
    
        .banner-md .banner-item-content { left: 55%; }
      
      }
    

          
      
      